{
  "extends": "eslint:recommended",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
